---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Schemas

'on':
  workflow_dispatch:
  schedule:
    - cron: 0 0 * * *
  push:
    branches:
      - master
    paths:
      - .github/workflows/schemas.yaml

env:
  UV_SYSTEM_PYTHON: "1"

permissions:
  contents: read

jobs:
  main:
    name: Schemas
    runs-on: home-ops-runner
    permissions:
      contents: read
      packages: write
    steps:
      - name: Generate Token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: app-token
        with:
          app-id: ${{ secrets.BOT_APP_ID }}
          private-key: ${{ secrets.BOT_APP_PRIVATE_KEY }}

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: true
          token: ${{ steps.app-token.outputs.token }}

      - name: Install kubectl
        uses: azure/setup-kubectl@776406bce94f63e41d621b960d78ee25c8b76ede # v4.0.1

      - name: Install uv
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
        with:
          enable-cache: false

      - name: Setup Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: 3.14.x

      - name: Setup Node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 24.x

      - name: Install Python Dependencies and clean up old manifests
        run: |-
          uv pip install pyyaml requests
          rm -rf *
          mkdir -p other

      # yamllint disable rule:line-length
      - name: Build k8s raw manifests schemas
        run: |-
          for manifest in clusterrolebinding-rbac-v1.json \
                          clusterrole-rbac-v1.json \
                          deployment-apps-v1.json \
                          mutatingadmissionpolicy-admissionregistration-v1beta1.json \
                          mutatingadmissionpolicybinding-admissionregistration-v1beta1.json \
                          namespace-v1.json \
                          persistentvolumeclaim-v1.json \
                          resourceclaimtemplate-resource-v1.json \
                          rolebinding-rbac-v1.json \
                          role-rbac-v1.json \
                          secret-v1.json \
                          serviceaccount-v1.json \
                          service-v1.json \
                          storageclass-storage-v1.json; do
            curl -o "${manifest}" "https://raw.githubusercontent.com/yannh/kubernetes-json-schema/refs/heads/master/master/${manifest}"
          done

      - name: Build k8s CRD manifests schemas
        run: |-
          curl -fsSL https://raw.githubusercontent.com/datreeio/CRDs-catalog/43e4407642d4c37683c88711f37caa6c9c20ca40/Utilities/crd-extractor.sh | bash

          cp -r /home/runner/.datree/crdSchemas/* .

      - name: Build HelmRelease schemas
        run: |-
          curl -o other/app-template-hr.json https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
          for ref in https://raw.githubusercontent.com/cert-manager/cert-manager/refs/heads/master/deploy/charts/cert-manager/values.schema.json \
                     https://raw.githubusercontent.com/external-secrets/external-secrets/refs/heads/main/deploy/charts/external-secrets/values.schema.json \
                     https://raw.githubusercontent.com/controlplaneio-fluxcd/charts/refs/heads/main/charts/flux-operator/values.schema.json \
                     https://raw.githubusercontent.com/controlplaneio-fluxcd/charts/refs/heads/main/charts/flux-instance/values.schema.json \
                     https://raw.githubusercontent.com/cilium/cilium/refs/heads/main/install/kubernetes/cilium/values.schema.json \
                     https://raw.githubusercontent.com/kubernetes-sigs/external-dns/refs/heads/master/charts/external-dns/values.schema.json; do \
            sed "s@{{ refURL }}@${ref}@g" .github/hr.template.json > "other/$(echo "${ref}" | sed -E 's@/[^/]+$@@' | awk -F/ '{print $NF}')-hr.json"
          done

      - name: Build other schemas
        run: |-
          curl -o other/docker-compose.json https://raw.githubusercontent.com/compose-spec/compose-spec/master/schema/compose-spec.json
          curl -o other/kromgo.config.json https://raw.githubusercontent.com/kashalls/kromgo/main/config.schema.json
          curl -o other/recyclarr.config.json https://raw.githubusercontent.com/recyclarr/recyclarr/master/schemas/config-schema.json
          curl -o other/talos.config.json https://raw.githubusercontent.com/siderolabs/talos/refs/heads/main/pkg/machinery/config/schemas/config.schema.json
          curl -o other/markdownlint.config.json https://raw.githubusercontent.com/DavidAnson/markdownlint/main/schema/markdownlint-config-schema.json
          curl -o other/sops.config.json https://raw.githubusercontent.com/chri11g6/sops-schema/refs/heads/master/sops.schema.json

          cat <<EOF | tee other/labels.json
          {
            "\$schema": "http://json-schema.org/draft-07/schema",
            "\$id": "homelab-labels",
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "name": {
                      "description": "Name of the label.",
                      "type": "string"
                    },
                    "color": {
                      "description": "Color of the label.",
                      "type": "string",
                      "pattern": "^[0-9a-f]{6}$"
                    }
                  },
                  "required": ["name", "color"]
                }
              ],
              "required": []
            }
          }
          EOF

          python3 -c "import requests, yaml, json; print(json.dumps(yaml.safe_load(requests.get('https://raw.githubusercontent.com/borgmatic-collective/borgmatic/main/borgmatic/config/schema.yaml').text), indent=2))" > other/borgmatic.config.json

      # yamllint enable rule:line-length
      - name: Commit Changes
        uses: stefanzweifel/git-auto-commit-action@04702edda442b2e678b25b537cec683a1493fcb9 # v7.1.0
        with:
          commit_message: "feat: update schemas"
          commit_user_name: "RoboDexo2000[bot]"
          commit_user_email: "150604236+robodexo2000[bot]@users.noreply.github.com"
          commit_author: "RoboDexo2000 <150604236+RoboDexo2000[bot]@users.noreply.github.com>"
